* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 1em 'Montserrat',sans-serif,Arial;
	background: #eee;
}
a {
	color: inherit;
	text-decoration: none;
}
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > * {
	vertical-align: top;
	display: table-cell;
}
#page{
	opacity: 0;
}
.col-r {
	text-align: right;
}
.col-l {
	text-align: left;
}
.dynamic-panel, .dynamic-panel > .state {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.dynamic-panel, .dynamic-panel > .state.active {
	display: block;
}
.wrapper {
	padding: 0px 10px;
	max-width: 1000px;
	margin: auto;
	max-height: 100vh;
	overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}