#load {
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 10px;
	background: #eee;
	z-index: 100;
	background-image:url(../img/load1.png);
	height: 100%;
}
#load .title h1 {
	text-align: center;
	margin-top: 50px;
	width: 100%;
	font-size: 1.5em;
	font-family: 'Montserrat';
	font-weight: 500;
	color: rgb(255,191,0);
}
#load .title h1.light {
	font-weight: 300;
	font-size: 1.2em;
	margin-top: 40px;
	font-weight: 500;
	color: #ffd800;
}
#load .logo {
	text-align: center;
	width: 100%;
	z-index: 2;
}
.load .title h1 {
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	font-family: 'Montserrat';
	font-weight: 300;
	color: #712046;
}
.load .title h1.light {
	font-weight: 300;
	font-size: 1.2em;
}
.load .logo {
	text-align: center;
	width: 100%;
	z-index: 1;
}
.load .logo h1{
	padding: 0px 70px;
	font-style: italic;
	font-weight: bold;
	font-size: 4em;
	color: #B53471;
	margin-top: 90px;
}
#load .logo i {
	font-size: 1.2em;
}

	
#fountainG{
	position:absolute;
	left: 600px;
	top:470px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(255,255,255);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.5s;
		-o-animation-duration:0.5s;
		-ms-animation-duration:0.5s;
		-webkit-animation-duration:0.5s;
		-moz-animation-duration:0.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.2s;
		-o-animation-delay:0.2s;
		-ms-animation-delay:0.2s;
		-webkit-animation-delay:0.2s;
		-moz-animation-delay:0.2s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.25s;
		-o-animation-delay:0.25s;
		-ms-animation-delay:0.25s;
		-webkit-animation-delay:0.25s;
		-moz-animation-delay:0.25s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.3s;
		-o-animation-delay:0.3s;
		-ms-animation-delay:0.3s;
		-webkit-animation-delay:0.3s;
		-moz-animation-delay:0.3s;
}

#fountainG_4{
	left:88px;
	animation-delay:0.35s;
		-o-animation-delay:0.35s;
		-ms-animation-delay:0.35s;
		-webkit-animation-delay:0.35s;
		-moz-animation-delay:0.35s;
}

#fountainG_5{
	left:117px;
	animation-delay:0.4s;
		-o-animation-delay:0.4s;
		-ms-animation-delay:0.4s;
		-webkit-animation-delay:0.4s;
		-moz-animation-delay:0.4s;
}

#fountainG_6{
	left:146px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#fountainG_7{
	left:175px;
	animation-delay:0.5s;
		-o-animation-delay:0.5s;
		-ms-animation-delay:0.5s;
		-webkit-animation-delay:0.5s;
		-moz-animation-delay:0.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:0.54s;
		-o-animation-delay:0.54s;
		-ms-animation-delay:0.54s;
		-webkit-animation-delay:0.54s;
		-moz-animation-delay:0.54s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

}
.load .logo i {
	font-size: 1.2em;
}
.spiner {
	height: 200px;
	width: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	perspective: 1000px;
	z-index: 0;
}
.spiner::before, .spiner::after {
	-webkit-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	content: '';
	display: block;
	border-top: 100px solid #FF9933;
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid transparent;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 50%;
	position: absolute;
}
.spiner::after {
	border-bottom: 100px solid #FF9933;
	border-top: 100px solid transparent;
	z-index: 1;
}
.spiner span {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 150px;
	display: block;
	margin-top: -75px;
	margin-left: -75px;
	border-radius: 50%;
	background: #eee;
	z-index: 2;
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
