.load {
	-webkit-background-size: cover;
	background-size: cover;
	background: #eee;
	z-index: 100;
	background-image:url(../img/load1.png);
	height: 100%;
}
.load .logo {
	text-align: center;
	width: 100%;
	z-index: 2;
}
.load .title {
	padding: 10px 0px;
	background: rgba(255, 255, 255, 0.5);
}
.load .title h1 {
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	font-family: 'Montserrat';
	font-weight: 300;
	color: #712046;
}
.load .title h1.light {
	font-weight: 300;
	font-size: 1.2em;
}
.load .logo h1{
	display: inline-block;
	padding: 20px 40px;
	font-style: italic;
	font-weight: bold;
	font-size: 4em;
	color: #B53471;
	margin-top: 90px;
	background: rgba(255, 255, 255, 0.5);
}
.load .logo i {
	padding-right: 20px;
	font-size: 1.2em;
}

	
#fountainG{
	position:absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	margin:auto;
}

.fountainG{
	display: inline-block;
	background-color:rgb(255,255,255);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:0.5s;
		-o-animation-duration:0.5s;
		-ms-animation-duration:0.5s;
		-webkit-animation-duration:0.5s;
		-moz-animation-duration:0.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	animation-delay:0.2s;
		-o-animation-delay:0.2s;
		-ms-animation-delay:0.2s;
		-webkit-animation-delay:0.2s;
		-moz-animation-delay:0.2s;
}

#fountainG_2{
	animation-delay:0.25s;
		-o-animation-delay:0.25s;
		-ms-animation-delay:0.25s;
		-webkit-animation-delay:0.25s;
		-moz-animation-delay:0.25s;
}

#fountainG_3{
	animation-delay:0.3s;
		-o-animation-delay:0.3s;
		-ms-animation-delay:0.3s;
		-webkit-animation-delay:0.3s;
		-moz-animation-delay:0.3s;
}

#fountainG_4{
	animation-delay:0.35s;
		-o-animation-delay:0.35s;
		-ms-animation-delay:0.35s;
		-webkit-animation-delay:0.35s;
		-moz-animation-delay:0.35s;
}

#fountainG_5{
	animation-delay:0.4s;
		-o-animation-delay:0.4s;
		-ms-animation-delay:0.4s;
		-webkit-animation-delay:0.4s;
		-moz-animation-delay:0.4s;
}

#fountainG_6{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#fountainG_7{
	animation-delay:0.5s;
		-o-animation-delay:0.5s;
		-ms-animation-delay:0.5s;
		-webkit-animation-delay:0.5s;
		-moz-animation-delay:0.5s;
}

#fountainG_8{
	animation-delay:0.54s;
		-o-animation-delay:0.54s;
		-ms-animation-delay:0.54s;
		-webkit-animation-delay:0.54s;
		-moz-animation-delay:0.54s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(255,191,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}
