.menu-col {
	width: 400px;
	padding: 20px;
}
.menu-col .logo {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 100%;
	color: #712046;
	margin-bottom: 85px;
	margin-top: 10px;
	font-style: italic;
}
.menu-col .logo h1 {
	font-size: 2.4em;
	font-family: 'Montserrat';
	font-weight: 300;
}
.menu-col .logo i {
	padding-right: 10px;
}
.menu li {
	list-style: none;
	width: 70%;
	text-align: center;
	border: 1px solid #0652DD;
	font-size: 1.6em;
	padding: 7px 0px;
	margin-bottom: 30px;
	margin-left: 60px;
	color: #0652DD;
	cursor: pointer;
	font-weight: 400;
	height: 100%;
}
.menu li:hover {
	background: #0652DD;
	color: #fff;
}
.copy {
	font-weight: 300;
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 24%;
	text-align: center;
}