.profile {
	position: fixed;
	left: 400px;
	right: 0;
	bottom: 0;
	top: 0;
	border-left: 1px solid #000;
	min-width: 400px;
}
.profile-state {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.profile-state.active {
	display: block;
}
.share-button{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #0652DD;
	color: #0652DD;
	cursor: pointer;
	position:absolute;
	width: 320px;
	height: 40px;
	padding-top: 5px;
	bottom:60px;
	left: 300px;
}
.share-button:hover{
	background: #0652DD;
	color: #fff;
}
.reg-log{
	float:left;
	text-align: center;
	border-bottom: 1px solid #0652DD;
	font-size: 24px;
	color: #000;
	font-weight: 400;
	position: absolute;
    right: 100px;
	top: 110px;
}
.rl{
	border-bottom: 1px solid #0652DD;
	margin-left: 40px;
}
.rl2{
	border-left: 1px solid #0652DD;
	margin-left: 30px;
	margin-right: 40px;
	margin-bottom: 12px;
}
.wrap{
	position:absolute;
	top: 260px;
	left: 200px;
	width: 700px;
	height: 200px;
	border-bottom: 1px solid #0652DD;
	border-top: 1px solid #0652DD;
	padding-top: 60px;
}
.registration, .login{
	margin: auto;
	text-align: center;
	padding-top: 1px;
}
.profile .input, .column .input {
	position: relative;
}
.profile .input > i, .column .input > i {
	color: #0652DD;
	font-size:22px;
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	cursor: pointer;
}
.profile .input > input, .column .input > input {
	width: 100%;
	padding: 10px 3px 10px 40px;
	font-size: 16px;
	border: 1px solid #0652DD;
}
.profile .submit {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #0652DD;
	color: #0652DD;
	cursor: pointer;
	margin-top: 20px;
	padding: 7px 50px;
}
.profile .submit:hover {
	background: #0652DD;
	color: #fff;
}
.profile .social_media {
	padding-top: 20px;
}
.profile .sub {
	width: 300px;
	margin-top: 5px;
	display: inline-block;
	font-size: 18px;
	padding: 10px;
}
.sub_with_google {
	color:#EA4335;
	border: 1px solid #EA4335;
}
.sub_with_google:hover{
	color:#fff;
	background-color:#EA4335;
}
.sub_with_facebook {
	color:#0652DD;
	border: 1px solid #0652DD;
}
.sub_with_facebook:hover{
	color:#fff;
	background-color: #0652DD;
}
.profile label {
	text-align: left;
	font-size: 15px;
	font-weight: 200;
	display: block;
	padding-bottom: 2px;
	padding-top: 10px;
}
.profile .form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 20px;
	min-width: 400px;
}
.profile .form-h {
	padding-bottom: 20px;
}
.profile h2{
	font-size: 30px;
	font-weight: 300;
}
.profile h3{
	font-size: 20px;
	font-weight: 200;
}
.or{
	text-align:center;
	font-size: 15px;
	float: left;
	margin: 50px auto 0 auto;
	position:absolute;
	bottom: 180px;
	left:485px;
}
.up{
	position:absolute;
	top: 630px;
	left: 1px;
}
.link_back a {
	cursor: pointer;
	color: #66757F;
	font-size: 20px;
}
.link_back i {
	padding-right: 5px;
}
.link_back{
	position:absolute;
	top: 20px;
	left: 30px;
}
.link_back a:hover {
	color: #33424C;
}
.logged {
	max-height: 100vh;
	overflow-y: scroll;
}
.profile-header {
	font-size: 40px;
	font-style: italic;
	font-weight: 100;
	text-align: right;
	padding: 5px 20px;
}

div.profile-line{
	size: 20;
}
.user-head {
	padding-top: 20px;
}
.stars{
	text-align: right;
	padding: 5px 20px 0px;
	margin-top: 10px;
	color: #FADA5E;
	font-size: 25px;
}
.stars > i {
	padding: 0px 2px;
}
.questions {
	margin-top: 30px;
	font-size: 30px;
	font-style: italic;
	font-weight: 150;
	padding-left: 20px;
}

.questions .correct{
	width: 95%;
	text-align: center;
	font-weight: 170;
	background-color: #ABE188;
	padding-right: 20px;
}
.questions .total{
	width: 95%;
	text-align: center;
	font-weight: 170;
	background-color: #F6F6DD;
	padding-right: 20px;
}

.tests {
	font-size: 30px;
	font-style: italic;
	font-weight: 150;
	padding-left: 20px;
}

.tests .correct {
	width: 95%;
	text-align: center;
	font-weight: 170;
	background-color: #ABE188;
	padding-right: 20px;
}

.tests .total{
	width: 95%;
	text-align: center;
	font-weight: 170;
	background-color: #F6F6DD;
	padding-right: 20px;
}

.averages {
	font-size: 30px;
	font-style: italic;
	font-weight: 150;
	padding-left: 20px;
}

.averages .correct {
	width: 95%;
	text-align: center;
	font-weight: 170;
	background-color: #ABE188;
	padding-right: 20px;
}

.averages .total {
	width: 95%;
	text-align: center;
	font-weight: 170;
	background-color: #F6F6DD;
	padding-right: 20px;
}

.share-result {
	cursor: pointer;
	margin-top: 50px;
	padding: 5px 40px;
	width: 400px;
	position: absolute;

	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	font-weight: 170;
	font-style: italic;
	font-size: 25px;
	border: 0.5px solid #0652DD;
	margin-bottom: 30px;
}

.share-result:hover {
	background: #0652DD;
	color: #fff;
}

.register {
	cursor: pointer;
	padding-bottom: 2px;
	font-weight: 150;
	font-size: 20px;
	transition: border-bottom 0.2s linear;
}
.but-bb {
	position: relative;
	
}
.but-bb::after {
	position: absolute;
	bottom: 0;
	display: block;
	content: '';
	height: 1px;
	background: #0652DD;
	left: 0;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 0;
}
.but-bb:hover::after {
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	width: 100%;
}
.frow {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding: 10px 40px 0px 0px;
}
.enter {
	text-align: right;
	cursor: pointer;
	padding-bottom: 2px;
	font-weight: 150;
	font-size: 20px;
}

.guest-header {
	text-align: right;
	padding: 20px 40px 0px 0px;
	font-size: 40px;
	font-style: italic;
	font-weight: 100;
}

.separator {
	width: 1px;
	background-color: #0652DD;
	margin: 0px 20px;
}

.available-stats {
	position: absolute;
	width: 95%;
	text-align: center;
	font-size: 50px;
	font-weight: 170;
	top: 40%;
	margin-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 0.1px solid #0652DD;
	border-bottom: 0.1px solid #0652DD;
}
.arrow-text {
	display: block;
	position: fixed;
	left: 400px;
	right: 0px;
	bottom: 0;
	top: 40px;
	overflow: hidden;
	z-index: -1;
}
.arrow {
	position: absolute;
	top: 0;
	right: 250px;
	width: 400px;
	height: 400px;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: 50%;
}
.arrow-text span{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 350px;
	font-size: 2em;
	color: #0652DD;
	font-weight: 200;
}

.share {
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.9);
}

.column {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	
}
.f-icon {
	font-size: 150px;
	color: #3b5998;
}
.facebook {
	padding-bottom: 20px;
}

.back-butt {	
	width: 70%;
	text-align: center;
	border: 1px solid #0652DD;
	padding: 7px 0px;
	margin: auto;
	color: #0652DD;
	cursor: pointer;
	font-weight: 200;
}

.back-butt:hover {
	background: #0652DD;
	color: #fff;
}	