.profile {
	position: fixed;
	left: 400px;
	right: 0;
	bottom: 0;
	top: 0;
	border-left: 1px solid #000;
	min-width: 400px;
}
.profile-state {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.profile-state.active {
	display: block;
}
.share-button{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #0652DD;
	color: #0652DD;
	cursor: pointer;
	position:absolute;
	width: 320px;
	height: 40px;
	padding-top: 5px;
	bottom:60px;
	left: 300px;
}
.share-button:hover{
	background: #0652DD;
	color: #fff;
}
.reg-log{
	float:left;
	text-align: center;
	border-bottom: 1px solid black;
	font-size: 24px;
	color: black;
	font-weight: 400;
	position: absolute;
    right: 100px;
	top: 110px;
}
.rl{
	border-bottom: 1px solid black;
	margin-left: 40px;
}
.rl2{
	border-left: 1px solid black;
	margin-left: 30px;
	margin-right: 40px;
	margin-bottom: 12px;
}
.wrap{
	position:absolute;
	top: 260px;
	left: 200px;
	width: 700px;
	height: 200px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding-top: 60px;
}
.registration, .login{
	margin: auto;
	text-align: center;
	padding-top: 1px;
}
.profile .input {
	position: relative;
}
.profile .input > i {
	color: #0652DD;
	font-size:22px;
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	cursor: pointer;
}
.profile .input > input {
	width: 100%;
	padding: 10px 3px 10px 40px;
	font-size: 16px;
	border: 1px solid #0652DD;
}
.profile .submit {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #0652DD;
	color: #0652DD;
	cursor: pointer;
	margin-top: 20px;
	padding: 7px 50px;
}
.profile .submit:hover {
	background: #0652DD;
	color: #fff;
}
.profile .social_media {
	padding-top: 20px;
}
.profile .sub {
	width: 300px;
	margin-top: 5px;
	display: inline-block;
	font-size: 18px;
	padding: 10px;
}
.sub_with_google {
	color:#EA4335;
	border: 1px solid #EA4335;
}
.sub_with_google:hover{
	color:#fff;
	background-color:#EA4335;
}
.sub_with_facebook {
	color:#0652DD;
	border: 1px solid #0652DD;
}
.sub_with_facebook:hover{
	color:#fff;
	background-color: #0652DD;
}
.profile label {
	text-align: left;
	font-size: 15px;
	font-weight: 200;
	display: block;
	padding-bottom: 2px;
	padding-top: 10px;
}
.profile .form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 20px;
	min-width: 400px;
}
.profile .form-h {
	padding-bottom: 20px;
}
.profile h2{
	font-size: 30px;
	font-weight: 300;
}
.profile h3{
	font-size: 20px;
	font-weight: 200;
}
.or{
	text-align:center;
	font-size: 15px;
	float: left;
	margin: 50px auto 0 auto;
	position:absolute;
	bottom: 180px;
	left:485px;
}
.up{
	position:absolute;
	top: 630px;
	left: 1px;
}
.link_back a {
	cursor: pointer;
	color: #66757F;
	font-size: 20px;
}
.link_back i {
	padding-right: 5px;
}
.link_back{
	position:absolute;
	top: 20px;
	left: 30px;
}
.link_back a:hover {
	color: #33424C;
}

.profile-header {
	position:relative;
	top: 45px;
	left: 80%;
	font-size: 40px;
	font-style: italic;
	font-weight: 100;
}

div.profile-line{
	size: 20;
	margin-top: 45px;
}

.stars{
	position:relative;
	margin-top: 10px;
	left: 79%;
	color: #FADA5E;
	font-size: 25px;
}

.questions {
	position:relative;
	top: 55px;
	font-size: 30px;
	font-style: italic;
	font-weight: 150;
	padding-left: 20px;
}

.questions .correct{
	width: 95%;
	text-align: center;
	font-weight: 170;
	top: 65px;
	background-color: #ABE188;
	padding-right: 20px;


}
.questions .total{
	width: 95%;
	text-align: center;
	font-weight: 170;
	top: 65px;
	background-color: #F6F6DD;
	padding-right: 20px;
}

.tests {
	position:relative;
	top: 70px;
	font-size: 30px;
	font-style: italic;
	font-weight: 150;
	padding-left: 20px;
}

.tests .correct {
	width: 95%;
	text-align: center;
	font-weight: 170;
	top: 65px;
	background-color: #ABE188;
	padding-right: 20px;
}

.tests .total{
	width: 95%;
	text-align: center;
	font-weight: 170;
	top: 65px;
	background-color: #F6F6DD;
	padding-right: 20px;
}

.averages {
	position:relative;
	top: 85px;
	font-size: 30px;
	font-style: italic;
	font-weight: 150;
	padding-left: 20px;
}

.averages .correct {
	width: 95%;
	text-align: center;
	font-weight: 170;
	top: 65px;
	background-color: #ABE188;
	padding-right: 20px;
}

.averages .total {
	width: 95%;
	text-align: center;
	font-weight: 170;
	top: 65px;
	background-color: #F6F6DD;
	padding-right: 20px;
}

.share-result {
	cursor: pointer;
	position: relative;
	margin-top: 150px;
	height: 40px;
	width: 400px;
	margin-left: 300px;
	text-align: center;
	font-weight: 170;
	font-style: italic;
	font-size: 25px;
	border: 0.5px solid #0652DD;
}

.share-result:hover {
	background: #0652DD;
	color: #fff;
}